<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xnpool.gaogtest.mapper.TOrderMapper">
	<resultMap id="BaseResultMap" type="com.xnpool.gaogtest.entity.TOrder">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="order_name" property="orderName" jdbcType="VARCHAR" />
		<result column="pay_money" property="payMoney" jdbcType="VARCHAR" />
		<result column="order_status" property="orderStatus" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>


</mapper>